body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Helvetica, serif !important;
}

.is-family-primary {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Helvetica, serif !important;
}

.footer {
    padding:  6rem 1.5rem 6rem;
}

div > a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.span-space-horizontal-around {
    margin-left: 5px;
    margin-right: 3px;
}

.span-text-vertical-adjust {
    vertical-align: 4px;
}

.ais-search-box {
    max-width: 480px !important;
}
