<footer class="footer has-background-white">
  <div class="content has-text-centered">
    <span class="span-space-horizontal-around span-text-vertical-adjust">
      Made with
    </span>
    <span class="icon has-text-danger">
      <i class="fas fa-heart"></i>
    </span>
    <span class="is-size-3">&middot;</span>
    <a
      href="https://github.com/demoslam/scoop-buckets-web-netlify"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="span-space-horizontal-around span-text-vertical-adjust">
        Source
      </span>
      <span class="icon is-size-5 has-text-grey-dark">
        <i class="fab fa-github-alt"></i>
      </span>
    </a>
    <span class="is-size-3">&middot;</span>
    <span class="span-space-horizontal-around">
      <img
        alt="Netlify Status"
        src="https://api.netlify.com/api/v1/badges/965df306-a386-4e0b-9351-ee2bdb712857/deploy-status"
      ></img>
    </span>
    <span class="is-size-3">&middot;</span>
    <span class="span-space-horizontal-around">
      <a href="https://ko-fi.com/J3J113VYZ" rel="noopener noreferrer" target="_blank">
        <img
          height="21"
          style="border: 0px; height: 21px"
          src="https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2"
          border="0"
          alt="Buy Me a Coffee at ko-fi.com"
        />
      </a>
    </span>
    <span class="span-space-horizontal-around">
      <a href="https://bandwagonhost.com/aff.php?aff=35852" rel="noopener noreferrer" target="_blank">
        <img
          height="21"
          style="border: 0px; height: 21px"
          src={{ get_url(path="BandwagonHost_logo.png") }}
          border="0"
          alt="BandwagonHost Referral"
        />
      </a>
    </span>
  </div>
</footer>